<div class="container">
	  <mat-form-field appearance="fill">
		<mat-label>Select an option</mat-label>
		<mat-select [(value)]="selected" (selectionChange)="changeValue()">
			<mat-option value="HorizontalBarChart">HorizontalBarChart</mat-option>
			<mat-option value="VerticalBarChart">VerticalBarChart</mat-option>
      <mat-option value="PipChart">PipChart</mat-option>
      <mat-option value="PipeGridChart">PipeGridChart</mat-option>
		</mat-select>
		</mat-form-field>

		<p>You selected: {{selected}}</p>
</div>
<br>
<br>
<div class="container1">
  <router-outlet></router-outlet>
</div>
